In [1]:
#Please activate whale environment before running jupyter-notebook 
import torch
import torchaudio
import requests
import matplotlib.pyplot as plt
import numpy as np
import librosa
import librosa.display
import glob, os
import pandas as pd
import pickle
from hurry.filesize import size

/home/arpit_1/anaconda3/envs/whale/lib/python3.8/site-packages/torchaudio/backend/utils.py:53: UserWarning: "sox" backend is being deprecated. The default backend will be changed to "sox_io" backend in 0.8.0 and "sox" backend will be removed in 0.9.0. Please migrate to "sox_io" backend. Please refer to https://github.com/pytorch/audio/issues/903 for the detail.
  warnings.warn(

In [2]:
path_casey14 = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/casey2014/wav/'
path_balleny = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/BallenyIslands2015/wav/'
path_casey17 = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/casey2017/wav/'
#path_elephant13 = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/ElephantIsland2013Aural/wav/'
#path_elephant14 = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/ElephantIsland2014/wav/'
path_green = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/Greenwich64S2015/wav/'
path_kerguelen05 = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2005/wav/'
path_kerguelen14 = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2014/wav/'
path_kerguelen15 = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2015/wav/'
path_maud = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/MaudRise2014/wav/'
#path_ross = '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/RossSea2014/wav/'

In [3]:
#X-Data
def loadData(path):
    all_files = glob.glob(path + '*.p')
    mydata = []
    for curr_file in all_files:
        with open(curr_file, 'rb') as f:
            mydata.append(pickle.load(f))
    return mydata

In [4]:
#Y-labels
def labels(path1, path2):
    df_samples = pd.read_excel(path1, engine='openpyxl')
    df_samples = df_samples.filter(['Bm Ant-A', 'Bm Ant-B', 'Bm Ant-Z'])
    mydata = loadData(path2)
    df_samples = df_samples.assign(Data=mydata)
    new_order = [3,0,1,2]
    df_samples = df_samples[df_samples.columns[new_order]]
    return df_samples

In [8]:
## Elephant 2014 ##

#X-Data
def loadData1(path):
    all_files = glob.glob(path + '*.p')
    mydata = []
    for curr_file in all_files:
        with open(curr_file, 'rb') as f:
            mydata.append(pickle.load(f))
    return mydata
#Y-labels
def labels1(path1, path2):
    df_samples = pd.read_excel(path1, engine='openpyxl')
    df_samples = df_samples.filter(['Bm_Ant-A', 'Bm_Ant-B', 'Bm_Ant-Z'])
    mydata = loadData(path2)
    df_samples = df_samples.assign(Data=mydata)
    new_order = [3,0,1,2]
    df_samples = df_samples[df_samples.columns[new_order]]
    return df_samples
data_elephant14 = labels1('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/ElephantIsland2014/annotation_metadata_Elephant_Island_EL.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/ElephantIsland2014/wav/elephant14/')

In [5]:
data_casey2014 = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/casey2014/casey2014_annotation_metadata_NB.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/casey2014/wav/casey2014/')

In [6]:
data_balleny = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/BallenyIslands2015/annotation_metadata_Baleeny2015_HC03_FINAL.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/BallenyIslands2015/wav/balleny/')

In [7]:
data_casey2017 = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/casey2017/annotation_metadata_casey2017.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/casey2017/wav/casey17/')

In [9]:
data_green = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/Greenwich64S2015/AWI2015_subsample_Balcazar.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/Greenwich64S2015/wav/Greenwich/')

In [10]:
data_kerguelen05 = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2005/kerguelen2005_subsample_Balcazar.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2005/wav/Kerguelen05/')

In [11]:
data_kerguelen14 = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2014/kerguelen2014_annotation_metadata_NB.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2014/wav/Kerguelen14/')

In [12]:
data_kerguelen15 = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2015/kerguelen2015_subsample_Balcazar.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/kerguelen2015/wav/Kerguelen15/')

In [13]:
data_maud = labels('/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/RossSea2014/annotation_metadata_Ross2014_SLN_FINAL.xlsx', '/home/arpit_1/whale/dataset/annotatedLibrary/annotatedLibrary/RossSea2014/wav/Ross/')

In [18]:
final_data = pd.concat([data_casey2014,data_balleny, data_casey2017, data_green, data_kerguelen05, data_kerguelen14, data_kerguelen15, data_maud], axis=0)

In [20]:
final_data.reset_index(drop=True, inplace = True)

In [21]:
final_data

,Data,Bm Ant-A,Bm Ant-B,Bm Ant-Z
0,"[[24.66304, 24.655657, 24.649937, 24.649567, 2...",present,absent,absent
1,"[[24.719927, 24.680874, 24.634573, 24.631899, ...",absent,absent,absent
2,"[[24.65588, 24.648645, 24.638155, 24.636345, 2...",present,absent,absent
3,"[[24.66291, 24.654217, 24.63519, 24.639671, 24...",present,present,absent
4,"[[24.684679, 24.672157, 24.6591, 24.65715, 24....",likely,absent,absent
...,...,...,...,...
1547,"[[13.178539, 13.211665, 13.236829, 13.228045, ...",absent,absent,absent
1548,"[[13.214807, 13.244877, 13.245164, 13.222555, ...",absent,absent,absent
1549,"[[13.182922, 13.21434, 13.227455, 13.213363, 1...",absent,absent,absent
1550,"[[13.2758045, 13.264246, 13.259282, 13.253547,...",absent,absent,absent
1551,"[[13.104158, 13.199153, 13.272376, 13.262039, ...",absent,absent,absent

In [22]:
final_data.to_pickle('cleanedData.p')

In [23]:
df = pd.read_pickle('cleanedData.p')

In [24]:
df

,Data,Bm Ant-A,Bm Ant-B,Bm Ant-Z
0,"[[24.66304, 24.655657, 24.649937, 24.649567, 2...",present,absent,absent
1,"[[24.719927, 24.680874, 24.634573, 24.631899, ...",absent,absent,absent
2,"[[24.65588, 24.648645, 24.638155, 24.636345, 2...",present,absent,absent
3,"[[24.66291, 24.654217, 24.63519, 24.639671, 24...",present,present,absent
4,"[[24.684679, 24.672157, 24.6591, 24.65715, 24....",likely,absent,absent
...,...,...,...,...
1547,"[[13.178539, 13.211665, 13.236829, 13.228045, ...",absent,absent,absent
1548,"[[13.214807, 13.244877, 13.245164, 13.222555, ...",absent,absent,absent
1549,"[[13.182922, 13.21434, 13.227455, 13.213363, 1...",absent,absent,absent
1550,"[[13.2758045, 13.264246, 13.259282, 13.253547,...",absent,absent,absent
1551,"[[13.104158, 13.199153, 13.272376, 13.262039, ...",absent,absent,absent